/*-------------------------------------------------------
 * import
 *
 */
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/filter";
@import "compass/css3/images";
@import "sassy-buttons";

/*-------------------------------------------------------
 * mixin
 *
 */

@mixin line-top($op1:.2,$op2:.3){
    border-top: 1px solid rgba(0, 0, 0, $op1);
    @include box-shadow(rgba(255,255,255, $op2)0 1px 0);
}
@mixin line-bottom($op1:.2,$op2:.3){
    border-bottom: 1px solid rgba(0, 0, 0, $op1);
    @include box-shadow(rgba(255,255,255, $op2)0 1px 0);
}

@mixin ts-000($op:.4){
    text-shadow: 1px -1px rgba(0, 0, 0, $op);
}
@mixin ts-fff($op:.7){
    text-shadow: -1px 1px rgba(0, 0, 0, $op);
}

@mixin box-deboss($border: .1, $shadow: .1, $highlight: 1){
    border: 1px solid rgba(0,0,0,$border);
    @include box-shadow(rgba(0,0,0,$shadow) -1px 1px 2px inset,rgba(255,255,255,$highlight) -1px 1px 0);
}
@mixin box-emboss($border: .15, $shadow: .05, $highlight: 1){
    border: 1px solid rgba(0,0,0,$border);
    @include box-shadow(rgba(0,0,0,$shadow) -1px 1px 0, rgba(255,255,255,$highlight) -1px 1px 0 inset);
}

@mixin gradient-top-lighten($color : #666, $lighten: 10%){
    background-color: $color;
    @include filter-gradient(lighten($color, $lighten), $color,vertical);
    @include background-image(linear-gradient(lighten($color,$lighten) 0%, $color 100%));
}
@mixin gradient-top-darken($color : #666, $darken: 10%){
    background-color: $color;
    @include filter-gradient(darken($color, $darken), $color,vertical);
    @include background-image(linear-gradient(darken($color,$darken) 0%, $color 100%));
}

@mixin word-wrap{
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

@mixin cat-icon{
    float: left;
    background: #efefef;
    width: 50px;
    padding: 4px;
    margin: 0 4px 4px 4px;
    overflow: visible;
    text-align: center;
    color: #333;
    font-size: 10px;
    font-weight: bold;
}


/*-------------------------------------------------------
 * style
 *
 */

/*
 * common
 *
 */
body{
    line-height: 120%;
}
a{
    text-decoration: none;
}
.full_width {
    width: 100%;
}
form{
    font-size: $TEXT_M;
    table{
        padding: 10px;
        width: 100%;
    }
    tr{
    }
    th{
        padding: 10px;
        vertical-align: top;
    }
    td{
        padding: 10px;
    }
    caption{
        padding: 50px;
        text-align: center;
        font-size: $TEXT_L;
        font-weight: bold;
        color: #6ea700;
    }
    .label{
        padding-right: 20px;
        text-align: right;
        width: 20%;
        .necessity{
            padding-top: 3px;
            font-size: $TEXT_SS;
            color: #ff1881;
        }
    }
    .data{
        border-left: 1px #dfdfdf solid;
        .text-box{
            font-size: $TEXT_L;
            width: 70%;
            height: 25px;
        }
        .textarea-box{
            width: 90%;
            height: 120px;
        }
        .ex{
            margin: 15px;
            font-size: $TEXT_SS;
            color: #333;
        }
        .error{
            font-size: $TEXT_SS;
            font-weight: bold;
            color: #ff1881;
            padding: 5px;
        }
    }
    .submit{
        margin: 50px;
        text-align: center;
    }
    .deactivate{
        text-align: center;
    }
}

/*
 * icon
 *
 */
.icon_l {
    width: 90px;
    height: 90px;
    @include border-radius(6px);
}
.icon_m {
    width: 48px;
    height: 48px;
    @include border-radius(5px);
}
.icon_s {
    width: 30px;
    height: 30px;
}
.icon_ss {
    width: 25px;
    height: 25px;
    @include border-radius(3px);
}

/*
 * button
 *
 */
.button_menu {
    @include sassy-button("flat", 3px, 10px, #96c045);
}
.button_yg {
    @include sassy-button("flat", 6px, 18px, #96c045);
}
.button_g {
    @include sassy-button("flat", 6px, 18px, #6ea700);
    //@include sassy-button("shiny", 5px, 19px, #4ba3cc);
    //@include sassy-button-style("push", #4ba3cc);
}
.button_gr {
    @include sassy-button("flat", 6px, 18px, #999999);
}
.button_gr_mini {
    @include sassy-button("flat", 2px, 3px, #999999);
}
.button_b {
    @include sassy-button("glass", 6px, 18px, #4ba3cc);
}
.button_stamp {
    @include sassy-button("matte", 10px, 10px, #6ea700);
}
.button_plus {
    @include sassy-button("matte", 10px, 10px, #6ea700);
}

/*
 * main
 *
 */
body {
    //@include gradient-top-darken(#fff);
    //background-image: url('../img/shattered.png');
    margin: 0 auto;
    width: $BODY_WIDTH;
}
#wrap {
    height: 100%;
    //background: #fff;
    //@include gradient-top-lighten(#fff);
    //@include border-bottom-radius(6px);
    //@include box-shadow(rgba(0, 0, 0, .15) 0 0 2px);
}
#head {
    width: $BODY_WIDTH;
    background-color: #fff;
    header {
        float: left;
    };
    nav {
        float: left;
        padding-top: 39px;
        padding-left: 39px;
        ul {
            list-style: none;
        }
        ul li{
            float: left;
            margin-right: 18px;
        }
    };
    #login {
        float: right;
        text-align: right;
        padding-top: 4px;
        .login-notes{
            font-size: 10px;
        }
    }
    #menu {
        float: right;
        text-align: right;
        padding-top: 24px;
        .icon{
            width: 50px;
            float: left;
            padding-top: 4px;
        }
        .name{
            width: 100px;
            float: left;
            padding-top: 10px;
        }
        .pulldown{
            width: 50px;
            float: left;
            padding: 6px;
            margin-top: 4px;
            text-align: center;
        }
    };
    margin-bottom: 10px;
    border-bottom: 3px #96c045 solid;
    @include clearfix;
}
#head_menu_list{
    display: none;
    float: left;
    margin: 29px 55px 0;
    position: absolute;
    z-index: 900;
    font-size: $TEXT_M;
    ul{
        padding: 4px;
        background: #fff;
        border: 3px #96c045 solid;
        list-style: none;
        li{
            padding: 6px;
        }
        li:hover{
            color: #fff;
            background: #96c045;
        }
    }
}
#mainview{
    .sbtn{
        float: right;
        ul {
            list-style: none;
        }
        ul li{
            float: left;
            margin-right: 18px;
        }
    }
    @include clearfix;
}
#content {
    width: $BODY_WIDTH;
    margin-bottom:10px;
    .left-content{
        float: left;
        width: $CONTENT_LEFT_WIDTH;
    }
    .right-content{
        float: right;
        width: $CONTENT_RIGHT_WIDTH;
    }
    @include clearfix;
}
#foot {
    min-height: 20px;
    padding: 25px 20px;
    //@include gradient-top-darken(#fff);
    //@include line-top(.1,1);
    @include clearfix;
}
#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
}
#page-top a {
	background: #96c065;
	text-decoration: none;
	color: #fff;
	text-align: center;
	display: block;
	border-radius: 5px;
}
#page-top a:hover {
	text-decoration: none;
	background: #96c045;
}

/*
 * room & ask list
 *
 */
.chatroombox {
    width: $BODY_WIDTH;
    background:#fff;
    //border-bottom: 2px #efefef solid;
    border-bottom: 1px #96c045 solid;
    .room-inbox {
        .room-icon{
            float: left;
        }
        .room-titlebox{
            float: left;
            width: $CONTENT_LEFT_WIDTH - (300+80);
            padding: 10px 10px 10px;
            .room-title{
                margin-bottom: 4px;
            }
            .cat-icon {
                @include cat-icon;
                @include border-radius(3px);
            }
            .room-username{
                font-size: smaller;
                margin-bottom: 4px;
            }
            .room-date{
                font-size: $TEXT_S;
            }
            @include clearfix;
        }
        .room-button{
            float: right;
        }
        .room-side{
            text-align: right;
            float: right;
            .room-member{
                padding-top: 20px;
                color: #772d1c;
                text-align: center;
                .member-text{
                    margin-bottom: 10px;
                }
                .member-total{
                    font-size: $TEXT_LL;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }
        }
        @include clearfix;
    }
    .room-option{
        float: left;
        .room-member{
            .room-member-open{
                float: left;
                font-size: $TEXT_S;
                text-align: center;
                padding-top: 6px;
                margin-right: 4px;
                width: 60px;
                height: 19px;
                color: #fff;
                background: #ff0000;
                @include box-emboss(.15, .05, .1);
            }
            .room-member-title{
                float: left;
                font-size: $TEXT_S;
                text-align: center;
                padding-top: 6px;
                width: 60px;
                height: 19px;
                @include box-emboss(.15, .05, .1);
            }
            .room-member-icon{
                img{
                    padding-left: 4px;
                }
            }
        }
    }
}
.room,.ask {
    padding: 20px 0;
}
.room {
    .room-inbox {
        .room-icon{
            float: left;
        }
        .room-titlebox{
            float: left;
            width: $CONTENT_LEFT_WIDTH - (100+80);
            padding: 10px 10px 10px;
            .room-title{
                margin-bottom: 4px;
            }
            .cat-icon {
                @include cat-icon;
                @include border-radius(3px);
            }
            .room-username{
                font-size: smaller;
                margin-bottom: 4px;
            }
            @include clearfix;
        }
        .room-button{
            float: right;
        }
        @include clearfix;
    }
    @include line-bottom(.1,1);
    @include clearfix;
}
.ask {
    padding: +10px;
    width: $CONTENT_LEFT_WIDTH - 100;
    float: right;
    text-align: right;
    @include box-deboss(.15, .06, .7);
    @include border-left-radius(6px);
    .ask-titlebox{
        float: left;
        width: $CONTENT_LEFT_WIDTH - (100+10+10+60);
        padding: 15px;
        .ask-username{
            font-size: smaller;
            padding-top: 10px;
        }
    }
    .ask-icon{
        float: right;
    }
    @include clearfix;
}
.ask:hover {
    background-color: #eee;
}

.room-menu{
    ul {
        list-style: none;
    }
    ul li{
        width: 200px;
        padding: 10px;
        float: left;
    }
    ul li:hover{
        color: #fff;
        background: #96c045;
    }
    ul li.active{
        color: #fff;
        background: #96c045;
    }
    @include line-bottom(.2, .3);
    @include clearfix;
}
/*
 * message
 *
 */
.message {
    padding: 20px;
    border-left: 1px #96c045 solid;
    border-right: 1px #96c045 solid;
    border-bottom: 1px #96c045 solid;
    .message-help-inbox {
        border-bottom: 3px #96c045 dotted;
        margin-bottom: 10px;
        .help-icon{
            float: left;
        }
        .help-titlebox{
            float: left;
            width: $CONTENT_LEFT_WIDTH - 120;
            padding: 10px 10px 10px;
            .help-title{
                font-size: $TEXT_M;
                word-wrap: break-word;
                margin-bottom: 4px;
            }
            img.help-img{
                max-width: 400px;
                padding: 10px;
            }
            .help-username{
                font-size: $TEXT_S;
                margin-bottom: 4px;
            }
            .help-date{
                font-size: $TEXT_SS;
            }
            @include clearfix;
        }
        @include clearfix;
    }
    .message-inbox{
        @include clearfix;
        .message-owner-inbox {
            .owner-icon{
                float: left;
            }
            .owner-titlebox{
                float: left;
                width: $CONTENT_LEFT_WIDTH - 120;
                padding: 10px 10px 10px;
                .owner-title{
                    font-size: $TEXT_M;
                    word-wrap: break-word;
                    margin-bottom: 4px;
                }
                img.owner-img{
                    padding: 10px;
                }
                .owner-youtube{
                    padding: 10px;
                }
                .owner-username{
                    font-size: $TEXT_S;
                    margin-bottom: 4px;
                }
                .owner-date{
                    font-size: $TEXT_SS;
                }
                @include clearfix;
            }
            clear:both;
        }
        .message-member-inbox {
            float: right;
            text-align: right;
            .member-icon{
                float: right;
            }
            .member-titlebox{
                float: left;
                width: $CONTENT_LEFT_WIDTH - 120;
                padding: 10px 10px 10px;
                .member-title{
                    font-size: $TEXT_M;
                    margin-bottom: 4px;
                }
                img.member-img{
                    padding: 10px;
                }
                .member-youtube{
                    padding: 10px;
                }
                .member-username{
                    font-size: $TEXT_S;
                    margin-bottom: 4px;
                }
                .member-date{
                    font-size: $TEXT_SS;
                }
                @include clearfix;
            }
            clear:both;
        }
    }
    .message-add-inbox {
        @include gradient-top-lighten(#96c045);
        border-top: 3px #96c045 solid;
        padding: 15px;
        .add-icon{
            float: left;
        }
        .add-titlebox{
            float: left;
            width: $CONTENT_LEFT_WIDTH - (120+15+15+100);
            padding: 10px 10px 10px;
            textarea{
                width: $CONTENT_LEFT_WIDTH - (120+15+15+100);
                font-size: $TEXT_M;
            }
            @include clearfix;
        }
        .add-button{
            
        }
        @include clearfix;
    }
}

/*
 * mypage profile
 *
 */
.profile {
    .profile-inbox {
        .profile-icon {
            float: left;
            margin-right: 10px;
        }
        .profile-username {
            font-size: $TEXT_L;
            padding-top: 36px;
        }
        @include clearfix;
    }
    .profile-option{
        padding: 20px;
        font-size: $TEXT_M;
        @include clearfix;
    }
    @include line-bottom(.2, .3);
    @include clearfix;
}
.mypage-menu {
    ul {
        list-style: none;
    }
    ul li{
        width: 33%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        float: left;
    }
    ul li:hover{
        color: #fff;
        background: #96c045;
    }
    ul li.active{
        color: #fff;
        background: #96c045;
    }
    @include line-bottom(.2, .3);
    @include clearfix;
}

/*
 * terms
 *
 */
.terms{
    h1{
        font-size: $TEXT_LL;
        padding: 20px;
    }
    p{
        padding: 20px;
        line-height: $TEXT_M * 2;
    }
}

/*
 * cboard
 *
 */
.cboard {
    margin-top: 20px;
    padding: 4px;
    background-color: #eee;
    @include border-radius(6px);
    .cboard-titlebox{
        .cboard-icon {
            float: left;
            background: #6ea700;
            width: 25px;
            padding: 4px;
            margin: 4px;
            overflow: visible;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            @include border-radius(3px);
        }
        .cboard-title{
            padding-top:10px;
        }
        @include line-bottom(.1,1);
        @include clearfix;
    }
    .cboard-entry{
        ul {
            list-style: none;
        }
        li {
            padding: 4px;
            .cboard-entry-title{
                padding-top: 10px;
            }
            .cboard-entry-userbox{
                float: right;
                .cboard-entry-username{
                    float: left;
                    padding-top: 6px;
                    padding-right: 6px;
                    font-size: smaller;
                }
                .cboard-entry-icon{
                    float: left;
                }
            }
            @include line-bottom(.1,1);
            @include clearfix;
        }
    }
}
