<!DOCTYPE HTML>
<html>
<head>
<meta charset='utf-8' />
    <title>新しい部屋をつくる｜シャベリハウス</title>
    <meta name="description" content="詳しい人と話せる新感覚のQ&Aサイト">
    <meta name="keywords" content="シャベリハウス,話す,詳しい人,Q&A,解決,悩み,問題">
    <link charset='utf-8' href='/css/reset.css' rel='stylesheet' type='text/css' />
    <link charset='utf-8' href='/css/style.css' rel='stylesheet' type='text/css' />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
    <% if (isProduction) { %>
    <script src="/js/dist/common.min.js"></script>
    <script src="/js/dist/createChatroom.min.js"></script>
    <% } else { %>
    <script src="/js/lib/jquery-1.8.2.js"></script>
    <script src="/js/lib/jquery.cookie.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/backbone-validation.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/models/chatroom.js"></script>
    <script src="/js/views/createChatroom.js"></script>
    <script src="/js/createChatroomApp.js"></script>
    <% } %>
</head>
<body>

<div id="wrap">

<% include header %>

    <div id="mainview">
    </div>

    <div id="content">

        <div class="left-content">

            <form id="full-form-tag" name="full-form-tag" method="post" enctype="multipart/form-data">
            <div id="contents_wrapp">
              <div id="contents_wrapp_inside">
                <section id="make_community">
                  <h3 id="makecommunity_h3">新しい部屋をつくる</h3>
                  <form action="" method="">
                  <table id="makecommunity_table">
                    <tr>
                      <th>カテゴリ<br><span style="color:#FF1881">※必須</span></th>
                      <td>
                      <select id="categoryId" name="categoryId">
                        <option value="">選択してください</option>
                        <% categories.forEach(function(category) { %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                        <% }) %>
                      </select>
                      <br><span id="error_categoryId" class="error"></span></td>
                    </tr>
                    <tr>
                      <th>部屋名<br><span style="color:#FF1881">※必須</span></th>
                      <td><div class="input_makecommunity_name_area"><input type="text" name="title" id="title1" class="title" value="経験や体験は？" style="color: #999;">けど、<br>例）昨日、富士山登ってきた<br><input type="text" name="title" id="title2" class="title" value="話題は？" style="color: #999;">について、話しませんか？<br>例）登山</div><span id="error_title" class="error"></span></td>
                    </tr>
                    <tr>
                    <th>説明</th>
                      <td><div id="input_makecommunity_name_textarea" ><textarea id="description" name="description"></textarea></div><span id="error_description" class="error"></span></td>
                    </tr>
                    <input type="hidden" value="1" name="publicYN" id="publicYN" />
                    <!--
                    <tr>
                      <th>公開設定<br><span style="color:#FF1881">※必須</span></th>
                      <td>
                      <input type="radio" value="1" name="publicYN" id="public_1" checked="checked" /><label for="public_1">公開</label>
                      <input type="radio" value="0" name="publicYN" id="public_0"/><label for="public_0">非公開</label>
                      <br><span id="error_public" class="error"></span></td>
                    </tr>
                    -->
                    <tr>
                      <th>管理人</th>
                      <td><%= userName %></td>
                    </tr>
                  </table>
                </section>
                  <div class="txtc magt20 magb200">
                    <input type="button" class="button_g" id="submit_1" value="送信">
                  </div>
                </section>
              </div><!--/#contents_wrapp_inside-->
            </div><!--/#contents_wrapp-->
            </form>

        </div>

        <div class="right-content">
        </div>

    </div><!-- content -->

<% include footer %>

</body>
</html>
