<!DOCTYPE HTML>
<html>
<head>
<meta charset='utf-8' />
    <title>新しい部屋をつくる｜シャベリハウス</title>
    <meta name="description" content="詳しい人と話せる新感覚のQ&Aサイト">
    <meta name="keywords" content="シャベリハウス,話す,詳しい人,Q&A,解決,悩み,問題">
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link charset="utf-8" href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link media="screen and (max-width: 768px)" charset="utf-8" href="/css/style_sm.css" rel="stylesheet" type="text/css" />
    <link media="screen and (min-width: 769px)" charset="utf-8" href="/css/style_pc.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
    <% if (isProduction) { %>
    <script src="/js/dist/common.min.js"></script>
    <script src="/js/dist/createChatroom.min.js"></script>
    <% } else { %>
    <script src="/js/lib/jquery-1.8.2.js"></script>
    <script src="/js/lib/jquery.cookie.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/backbone-validation.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/models/chatroom.js"></script>
    <script src="/js/views/createChatroom.js"></script>
    <script src="/js/createChatroomApp.js"></script>
    <% } %>
</head>
<body>

<div id="wrap">

<% include header %>

    <div id="mainview">
    </div>

    <div id="content">

        <div class="left-content">

            <form id="full-form-tag" name="full-form-tag" method="post" enctype="multipart/form-data">
                <table>
                    <caption>(っ´∀｀)っ)) 新しい部屋をつくる</caption>
                    <tr>
                        <th class="label">話題のカテゴリ:<div class="necessity">※必須</div></th>
                        <td class="data">
                            <select id="categoryId" name="categoryId">
                                <option value="">選択してください</option>
                                <% categories.forEach(function(category) { %>
                                <option value="<%= category.id %>"><%= category.title %></option>
                                <% }) %>
                            </select>
                            <div id="error_categoryId" class="error"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="label">部屋の名前:<div class="necessity">※必須</div></th>
                        <td class="data">
                            <div class="input_makecommunity_name_area">
                                <input type="text" name="title" id="title1" class="title text-box" value="経験や体験、自己紹介など" style="color: #999;">けど、
                                <div class="ex">例）昨日、富士山登ってきた</div>
                                <input type="text" name="title" id="title2" class="title text-box" value="会話のテーマ" style="color: #999;">について、話しませんか？
                                <div class="ex">例）山登り</div>
                            </div>
                            <div id="error_title" class="error"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="label">部屋の説明:</th>
                        <td class="data">
                            <textarea id="description" class="textarea-box" name="description"></textarea>
                            <div id="error_description" class="error"></div>
                        </td>
                    </tr>
                    <input type="hidden" value="1" name="publicYN" id="publicYN" />
                    <tr>
                      <th class="label">オーナー:</th>
                      <td class="data"><%= userName %></td>
                    </tr>
                </table>
                <div class="submit">
                    <input type="button" class="button_g" id="submit_1" value="新しい部屋をつくる">
                </div>
            </form>

        </div><!-- left-content -->
    </div><!-- content -->

<% include footer %>
<input type="hidden" name="_csrf" id="_csrf" value="<%= _csrf %>">
</body>
</html>
