<!DOCTYPE HTML>
<html>
<head>
<meta charset='utf-8' />
    <title>退会する｜シャベリハウス</title>
    <meta name="description" content="詳しい人と話せる新感覚のQ&Aサイト">
    <meta name="keywords" content="シャベリハウス,話す,詳しい人,Q&A,解決,悩み,問題">
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link charset="utf-8" href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link media="screen and (max-width: 768px)" charset="utf-8" href="/css/style_sm.css" rel="stylesheet" type="text/css" />
    <link media="screen and (min-width: 769px)" charset="utf-8" href="/css/style_pc.css" rel="stylesheet" type="text/css" />
    <!--[if IE]><link charset="utf-8" href="/css/style_pc.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
    <% if (isProduction) { %>
    <script src="/js/dist/common.min.js"></script>
    <script src="/js/dist/deactivation.min.js"></script>
    <% } else { %>
    <script src="/js/lib/jquery-1.8.2.js"></script>
    <script src="/js/lib/jquery.cookie.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/backbone-validation.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/views/deactivation.js"></script>
    <script src="/js/deactivationApp.js"></script>
    <% } %>
</head>
<body>

<div id="wrap">

<% include header %>

    <div id="mainview">
    </div>

    <div id="content">

        <div class="left-content">

            <form id="full-form-tag" name="full-form-tag" method="post" enctype="multipart/form-data">
                <caption>シャベリハウスを退会しますか？</caption>
                <div class="submit">
                    <input type="button" class="button_g" id="cancel" value="キャンセル">
                    <input type="button" class="button_g" id="submit_1" value="シャベリハウスを退会する">
                </div>
            </form>

        </div><!-- left-content -->
    </div><!-- content -->

<% include footer %>
<input type="hidden" name="_csrf" id="_csrf" value="<%= _csrf %>">
</body>
</html>
