<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
    <title><%= title %>｜シャベリハウス</title>
    <meta name="description" content="詳しい人と話せる新感覚のコミュニティ">
    <meta name="keywords" content="シャベリハウス,話す,詳しい人,Q&A,解決,悩み,問題">
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link charset="utf-8" href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link media="screen and (max-width: 768px)" charset="utf-8" href="/css/style_sm.css" rel="stylesheet" type="text/css" />
    <link media="screen and (min-width: 769px)" charset="utf-8" href="/css/style_pc.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]><script src="http://css3-mediaqueries-js.googlecode.com/
svn/trunk/css3-mediaqueries.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
<script src="/js/dist/common.min.js"></script>
</head>
<body>
<div id="wrapper">
<% include header %>
    <div id="mainview">
    </div>
    <div id="content">
        <div class="left-content">
          <h1><%= title %></h1>
          <% if (err.type === 'notFound') { %>
          ページが見つかりません: <%= err.path %>
          <% } else if (err.type === 'unauthorized') { %>
          ログインをしてください。
          <% } else { %>
          システムエラーが起きました。
          <% } %>
          <p><a href="/">トップページへもどる</a></p>
        </div>
        <div class="right-content">
        </div>
    </div>
</div>
<% include footer %>

</body>
</html>
