    <script>
    $(function() {
        var topBtn = $('#page-top');
        topBtn.hide();
        //スクロールが100に達したらボタン表示
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                topBtn.fadeIn();
            } else {
                topBtn.fadeOut();
            }
        });
        //スクロールしてトップ
        topBtn.click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 500);
            return false;
        });
    });
    </script>
    <p id="page-top"><a href="#wrap">PAGE TOP</a></p>
    <div id="foot">
        <footer>
            <div><a href="http://<%= config.server.host %>/terms">利用規約</a>｜<a href="http://help.goo.ne.jp/" target="_blank">お問い合わせ</a></div>
            <div>copyright(C)2012 NTT Resonant inc. All Rights Reserved.</div>
        </footer>
    </div>
