<div id="head">
    <header><img src="/img/logo.png" alt="シャベリハウス"></header>
    <nav>
        <ul>
            <li><a href="#" >詳しいひとを見つける</a></li>
            <li><a href="#" >体験や経験を投稿する</a></li>
        </ul>
    </nav>
    
    <%if (isAuth) { %>
    
    <div id="menu">
        <div class="icon"><a href="#"><img class="icon_s" id="header_mypage_thumb_img" src="<%= locals.userImage %>"></a></div>
        <div class="name"><a href="#"><%= locals.userName %></a></div>
        <div class="pulldown"><a href="#">▼</a></div>
        <div id="mypage_notification_wrapp">
          <a href="/mypage" class="mypage_nortification_txt"><div>マイページ</div></a>
          <a href="/chatrooms/new" class="mypage_nortification_txt"><div>チャットルームを作る</div></a>
          <a href="/logout" class="mypage_nortification_txt"><div>ログアウト</div></a>
        </div>
    </div>
    
    <!--
      <div id="header_right">

        <table id="header_right_table">
          <tr>
            <td id="header_mypage_thumb"><div><img id="header_mypage_thumb_img" src="<%= locals.userImage %>" width="40" height="40"></div></td>
            <td id="header_mypage_name"><h2 id="header_mypage_name_h2"><%= locals.userName %></h2></td>
            <td id="header_mypage_pull"><a href="javascript:void(0);"><img src="/img/common/pull.png" width="26" height="26" id="mypage_pull"></a></td>
          </tr>
        </table>
        <div id="mypage_notification_wrapp">
          <a href="/mypage" class="mypage_nortification_txt"><div>マイページ</div></a>
          <a href="/chatrooms/new" class="mypage_nortification_txt"><div>チャットルームを作る</div></a>
          <a href="/logout" class="mypage_nortification_txt"><div>ログアウト</div></a>
        </div>
    -->

      </div>
    <% }else{ %>
        
    <div id="login">
        <a href="/auth/twitter/"><input type="button" class="button_b" id="login_button_twetter" value="twitterでログイン"></a>
        <div class="login-notes">※twitterログイン後にオリジナルのニックネームを設定できます。</div>
    </div>

    <% } %>
    
</div>