<!DOCTYPE HTML>
<html>
<head>
<meta charset='utf-8' />
    <title>お知らせ｜シャベリハウス</title>
    <meta name="description" content="詳しい人と話せる新感覚のコミュニティ">
    <meta name="keywords" content="シャベリハウス,話す,詳しい人,Q&A,解決,悩み,問題">
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link charset="utf-8" href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link media="screen and (max-width: 768px)" charset="utf-8" href="/css/style_sm.css" rel="stylesheet" type="text/css" />
    <link media="screen and (min-width: 769px)" charset="utf-8" href="/css/style_pc.css" rel="stylesheet" type="text/css" />
    <!--[if IE]><link charset="utf-8" href="/css/style_pc.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
    <% if (isProduction) { %>
    <script src="/js/dist/common.min.js"></script>
    <script src="/js/dist/top.min.js"></script>
    <% } else { %>
    <script src="/js/lib/jquery-1.8.2.js"></script>
    <script src="/js/lib/jquery.cookie.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/backbone-validation.js"></script>
    <script src="/js/lib/handlebars-1.0.rc.1.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/util.js"></script>
    <% } %>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=152355228231572";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrap">

<% include header %>

    <div id="mainview">
        <!--
        <div class="sbtn">
            <ul>
                <li class="sbtn-tw">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </li>
                <li class="sbtn-fb">
                    <div class="fb-like" data-href="http://syaberi-house.com" data-send="true" data-width="450" data-show-faces="true"></div>
                </li>
            </ul>
        </div>
        <div><img src="/img/mainimage.jpg"></div>
        -->
    </div>

    <div id="content">

        <div class="left-content">
            <div class="terms">

<h1>「シャベリハウス」サービス提供終了について</h1>
<p>
<br>
日ごろより「シャベリハウス」をご利用いただき、誠にありがとうございます。<br>
<br>
「シャベリハウス」は2013年1月31日（木）をもちまして、サービスを終了させていただくことになりました。<br>
<br>
ご利用の皆様には、突然のお知らせとなりますことを深くお詫びするとともに、これまでのご愛顧に対し心より感謝申し上げます。<br>
<br>
【データの扱いについて】<br>
これまで投稿いただいたデータはすべて削除させていただきます。<br>
投稿されたデータの保存をご希望のお客様は、サービス終了日までに画面キャプチャをとる、メモを取る等の方法で、ご自身でのバックアップをお願いいたします。<br>
<br>
<font color="#FF0000"><strong>お預かりしているすべてのデータは、サービス終了日をもって完全に削除させていただきます。サービス終了日以降は、いかなる場合であっても、データの抽出などはできません。あらかじめご了承ください。</strong></font><br>
<br>
2013年1月7日（月）<br>
    <br>
    <br>
</p>
            </div><!-- terms -->
        </div><!--left contents-->

        <!--
        <div class="right-content">

            <div class="cboard">
                <div class="cboard-titlebox">
                    <div class="cboard-icon">Q</div>
                    <div class="cboard-title">詳しいひと募集板</div>
                </div>
                <div class="cboard-entry">
                    <ul>
                        <li>
                           <input type="button" class="button_yg full_width" value="投稿する">
                        </li>
                        <li>
                            <div class="cboard-entry-title">飲食店経営者のひといませんか？</div>
                            <div class="cboard-entry-userbox">
                                <div class="cboard-entry-username">ビーフ</div>
                                <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                            </div>
                        </li>
                        <li>
                            <div class="cboard-entry-title">主婦歴長いひとと話したいです。</div>
                            <div class="cboard-entry-userbox">
                                <div class="cboard-entry-username">ビーフ</div>
                                <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                            </div>
                        </li>
                        <li>
                            <div class="cboard-entry-title">毎日の献立に困らないこつを教えて欲しい・・・。</div>
                            <div class="cboard-entry-userbox">
                                <div class="cboard-entry-username">ビーフ</div>
                                <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                            </div>
                        </li>
                        <li>
                            <div class="cboard-entry-title">最近ハワイに行ったひと居ませんか？</div>
                            <div class="cboard-entry-userbox">
                                <div class="cboard-entry-username">ビーフ</div>
                                <div class="cboard-entry-icon"><img class="icon_ss" src="https://si0.twimg.com/sticky/default_profile_images/default_profile_0_normal.png"></div>
                            </div>
                        </li>
                        <li>
                           <input type="button" class="button_yg full_width" value="もっと見る">
                        </li>
                    </ul>
                </div>
            </div>

        </div><!--right contents-->

    </div>

<% include footer %>

</div>

</body>
</html>
