<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset='utf-8' />
    <title>ユーザ登録｜シャベリハウス</title>
    <meta name="description" content="詳しい人と話せる新感覚のコミュニティ">
    <meta name="keywords" content="シャベリハウス,話す,詳しい人,Q&A,解決,悩み,問題">
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link charset="utf-8" href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link media="screen and (max-width: 768px)" charset="utf-8" href="/css/style_sm.css" rel="stylesheet" type="text/css" />
    <link media="screen and (min-width: 769px)" charset="utf-8" href="/css/style_pc.css" rel="stylesheet" type="text/css" />
    <!--[if IE]><link charset="utf-8" href="/css/style_pc.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if lt IE 9]><script src="http://css3-mediaqueries-js.googlecode.com/
svn/trunk/css3-mediaqueries.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
<% if (isProduction) { %>
<script src="/js/dist/common.min.js"></script>
<script src="/js/dist/login.min.js"></script>
<% } else { %>
<script src="/js/lib/jquery-1.8.2.js"></script>
<script src="/js/lib/jquery.cookie.js"></script>
<script src="/js/lib/underscore.js"></script>
<script src="/js/lib/backbone.js"></script>
<script src="/js/lib/backbone-validation.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/util.js"></script>
<script src="/js/models/login.js"></script>
<script src="/js/views/login.js"></script>
<script src="/js/loginApp.js"></script>
<% } %>
</head>
<body>
<div id="wrapper">

<% include header %>

<form id="full-form-tag" name="full-form-tag" method="post" action="/login">
<div id="contents_wrapp">
  <div id="contents_wrapp_inside">
    <section id="make_community">
      <h3 id="makecommunity_h3">ログイン</h3>
      <table id="makecommunity_table">
        <tr><td colspan="2"><span class="error"><%= error %></span></td></tr>
        <tr>
          <th>メールアドレス</th>
          <td><div class="input_makecommunity_name_area"><input type="text" name="email" id="email" value=""></div><span id="error_email" class="error"></span></td>
        </tr>
        <tr>
          <th>パスワード</span></th>
          <td><div class="input_makecommunity_name_area"><input type="password" name="password" id="password" value=""></div><span id="error_password" class="error"></span></td>
        </tr>
      </table>
    </section>
      <div class="txtc magt20 magb200">
        <input type="image" src="/img/makecommunity_submit.png" width="396" height="73" alt="送信" id="submit_1">
      </div>
    </section>
  </div><!--/#contents_wrapp_inside-->
</div><!--/#contents_wrapp-->
</form>

<% include footer %>

</body>
</html>
