<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset='utf-8' />
    <title>新規登録｜シャベリハウス</title>
    <meta name="description" content="詳しい人と話せる新感覚のコミュニティ">
    <meta name="keywords" content="シャベリハウス,話す,詳しい人,Q&A,解決,悩み,問題">
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link charset="utf-8" href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link media="screen and (max-width: 768px)" charset="utf-8" href="/css/style_sm.css" rel="stylesheet" type="text/css" />
    <link media="screen and (min-width: 769px)" charset="utf-8" href="/css/style_pc.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
    <% if (isProduction) { %>
    <script src="/js/dist/common.min.js"></script>
    <script src="/js/dist/register.min.js"></script>
    <% } else { %>
    <script src="/js/lib/jquery-1.8.2.js"></script>
    <script src="/js/lib/jquery.cookie.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/backbone-validation.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/models/user.js"></script>
    <script src="/js/views/register.js"></script>
    <script src="/js/registerApp.js"></script>
    <% } %>
</head>

<body>
<div id="wrapper">

<% include header %>

    <div id="mainview">
    </div>

    <div id="content">

        <div class="left-content">

            <form method="post" action="/login" enctype="multipart/form-data">
                <table>
                    <caption>ヾ(〃^∇^)ﾉ 新規登録</caption>
                    <tr>
                        <th class="label">ニックネーム:<div class="necessity">※必須</div></th>
                        <td class="data">
                            <input type="text" name="userName" id="userName" class="text-box" value="<%= userName %>">
                            <div id="error_userName" class="error"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="label">メールアドレス:<div class="necessity">※必須</div></th>
                        <td class="data">
                            <input type="text" name="email" id="email" class="text-box" value="">
                            <div id="error_email" class="error"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="label">プロフィール:</th>
                        <td class="data">
                            <textarea name="description" id="description" class="textarea-box"></textarea>
                            <div id="error_description" class="error"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="label">利用規約への同意:<div class="necessity">※必須</div></th>
                        <td class="data">
                            <div style="overflow:auto;height:150px;border:1px #ccc solid; padding:10px; background-color:#fff; text-align:left;">
                                <% include termsText %>
                            </div>
                            <input type="checkbox" name="terms_check" id="terms_check" style="line-height:18px;height:24px;font-size:18px;"><span style="margin-left:10px;"><label for="terms_check">本サービスの利用規約に同意します</label></span><br/><span class="error_terms_check_requ"></span>
                        </td>
                    </tr>
                </table>
                <div class="submit">
                    <input type="button" class="button_g" id="submit_1" value="新規登録する">
                </div>
            </form>

        </div><!-- left-content -->
    </div><!-- content -->

<% include footer %>
<input type="hidden" name="_csrf" id="_csrf" value="<%= _csrf %>">
</body>
</html>
