/* line 16, ../sass/style_pc.scss */
.head_sm {
  display: none;
}

/* line 22, ../sass/style_pc.scss */
.fixed {
  padding-top: 10px;
  position: fixed;
}

/* line 33, ../sass/style_pc.scss */
.message .message-inbox .message-owner-inbox img.owner-img {
  max-width: 400px;
}
/* line 36, ../sass/style_pc.scss */
.message .message-inbox .message-owner-inbox .owner-youtube {
  width: 400px;
  height: 300px;
}
/* line 43, ../sass/style_pc.scss */
.message .message-inbox .message-member-inbox .member-titlebox img.member-img {
  max-width: 400px;
}
/* line 46, ../sass/style_pc.scss */
.message .message-inbox .message-member-inbox .member-titlebox .member-youtube {
  width: 400px;
  height: 300px;
}

/* line 55, ../sass/style_pc.scss */
#page-top a {
  width: 100px;
  padding: 30px 0;
}

/*-------------------------------------------------------
 * import
 *
 */
/*-------------------------------------------------------
 * mixin
 *
 */
/*-------------------------------------------------------
 * style
 *
 */
/*
 * common
 *
 */
/* line 88, ../sass/style.scss */
body {
  line-height: 120%;
}

/* line 91, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 94, ../sass/style.scss */
.full_width {
  width: 100%;
}

/* line 97, ../sass/style.scss */
form {
  font-size: 12px;
}
/* line 99, ../sass/style.scss */
form table {
  padding: 10px;
  width: 100%;
}
/* line 105, ../sass/style.scss */
form th {
  padding: 10px;
  vertical-align: top;
}
/* line 109, ../sass/style.scss */
form td {
  padding: 10px;
}
/* line 112, ../sass/style.scss */
form caption {
  padding: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #6ea700;
}
/* line 119, ../sass/style.scss */
form .label {
  padding-right: 20px;
  text-align: right;
  width: 20%;
}
/* line 123, ../sass/style.scss */
form .label .necessity {
  padding-top: 3px;
  font-size: 8px;
  color: #ff1881;
}
/* line 129, ../sass/style.scss */
form .data {
  border-left: 1px #dfdfdf solid;
}
/* line 131, ../sass/style.scss */
form .data .text-box {
  font-size: 16px;
  width: 70%;
  height: 25px;
}
/* line 136, ../sass/style.scss */
form .data .textarea-box {
  width: 90%;
  height: 120px;
}
/* line 140, ../sass/style.scss */
form .data .ex {
  margin: 15px;
  font-size: 8px;
  color: #333;
}
/* line 145, ../sass/style.scss */
form .data .error {
  font-size: 8px;
  font-weight: bold;
  color: #ff1881;
  padding: 5px;
}
/* line 152, ../sass/style.scss */
form .submit {
  margin: 50px;
  text-align: center;
}
/* line 156, ../sass/style.scss */
form .deactivate {
  text-align: center;
}

/*
 * icon
 *
 */
/* line 165, ../sass/style.scss */
.icon_l {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 170, ../sass/style.scss */
.icon_m {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 175, ../sass/style.scss */
.icon_s {
  width: 30px;
  height: 30px;
}

/* line 179, ../sass/style.scss */
.icon_ss {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/*
 * button
 *
 */
/* line 189, ../sass/style.scss */
.button_menu {
  font-size: 10px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF96C045', endColorstr='#FF5C7728');
  background-color: #96c045;
  border: 0;
  color: white;
  text-shadow: #4d6422 0 -1px 0;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_menu:hover {
  text-decoration: none;
}
/* line 42, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_menu:hover {
  background-color: #88b03c;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_menu:active {
  background-color: #7fa438;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_menu.disabled, .button_menu[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.button_menu::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 192, ../sass/style.scss */
.button_yg {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF96C045', endColorstr='#FF5C7728');
  background-color: #96c045;
  border: 0;
  color: white;
  text-shadow: #4d6422 0 -1px 0;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_yg:hover {
  text-decoration: none;
}
/* line 42, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_yg:hover {
  background-color: #88b03c;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_yg:active {
  background-color: #7fa438;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_yg.disabled, .button_yg[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.button_yg::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 195, ../sass/style.scss */
.button_g {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6EA700', endColorstr='#FF2B4100');
  background-color: #6ea700;
  border: 0;
  color: white;
  text-shadow: #1a2700 0 -1px 0;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_g:hover {
  text-decoration: none;
}
/* line 42, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_g:hover {
  background-color: #5d8d00;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_g:active {
  background-color: #537e00;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_g.disabled, .button_g[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.button_g::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 200, ../sass/style.scss */
.button_gr {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF999999', endColorstr='#FF666666');
  background-color: #999999;
  border: 0;
  color: white;
  text-shadow: #595959 0 -1px 0;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_gr:hover {
  text-decoration: none;
}
/* line 42, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_gr:hover {
  background-color: #8c8c8c;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_gr:active {
  background-color: #858585;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_gr.disabled, .button_gr[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.button_gr::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 203, ../sass/style.scss */
.button_b {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4BA3CC', endColorstr='#FF276B8A');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #6bb3d5), color-stop(51%, #4ba3cc));
  background: -webkit-linear-gradient(#6bb3d5 50%, #4ba3cc 51%);
  background: -moz-linear-gradient(#6bb3d5 50%, #4ba3cc 51%);
  background: -o-linear-gradient(#6bb3d5 50%, #4ba3cc 51%);
  background: linear-gradient(#6bb3d5 50%, #4ba3cc 51%);
  -webkit-box-shadow: #a6d2e6 0 1px 0 inset;
  -moz-box-shadow: #a6d2e6 0 1px 0 inset;
  box-shadow: #a6d2e6 0 1px 0 inset;
  border: 1px solid #3899c6;
  color: white;
  text-shadow: #2a7193 0 -1px 0;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_b:hover {
  text-decoration: none;
}
/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_b:hover {
  background-color: #3692be;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #4fa5cd), color-stop(51%, #3692be));
  background: -webkit-linear-gradient(#4fa5cd 50%, #3692be 51%);
  background: -moz-linear-gradient(#4fa5cd 50%, #3692be 51%);
  background: -o-linear-gradient(#4fa5cd 50%, #3692be 51%);
  background: linear-gradient(#4fa5cd 50%, #3692be 51%);
}
/* line 33, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_b:active {
  -webkit-box-shadow: #358fba 0 1px 2px inset;
  -moz-box-shadow: #358fba 0 1px 2px inset;
  box-shadow: #358fba 0 1px 2px inset;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_b.disabled, .button_b[disabled] {
  opacity: 0.6;
  background: #4ba3cc;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.button_b::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 206, ../sass/style.scss */
.button_stamp {
  font-size: 10px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6EA700', endColorstr='#FF2B4100');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0f300), color-stop(70%, #6ea700));
  background: -webkit-linear-gradient(#a0f300, #6ea700 70%);
  background: -moz-linear-gradient(#a0f300, #6ea700 70%);
  background: -o-linear-gradient(#a0f300, #6ea700 70%);
  background: linear-gradient(#a0f300, #6ea700 70%);
  -webkit-box-shadow: #beff41 0 1px 0 inset;
  -moz-box-shadow: #beff41 0 1px 0 inset;
  box-shadow: #beff41 0 1px 0 inset;
  border: 1px solid #5d8d00;
  color: white;
  text-shadow: #476c00 0 -1px 0;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_stamp:hover {
  text-decoration: none;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_stamp:hover {
  background-color: #5d8d00;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #90da00), color-stop(75%, #5d8d00));
  background: -webkit-linear-gradient(#90da00 3%, #5d8d00 75%);
  background: -moz-linear-gradient(#90da00 3%, #5d8d00 75%);
  background: -o-linear-gradient(#90da00 3%, #5d8d00 75%);
  background: linear-gradient(#90da00 3%, #5d8d00 75%);
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_stamp:active {
  -webkit-box-shadow: #537e00 0 1px 2px inset;
  -moz-box-shadow: #537e00 0 1px 2px inset;
  box-shadow: #537e00 0 1px 2px inset;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_stamp.disabled, .button_stamp[disabled] {
  opacity: 0.6;
  background: #6ea700;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.button_stamp::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 209, ../sass/style.scss */
.button_plus {
  font-size: 10px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6EA700', endColorstr='#FF2B4100');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0f300), color-stop(70%, #6ea700));
  background: -webkit-linear-gradient(#a0f300, #6ea700 70%);
  background: -moz-linear-gradient(#a0f300, #6ea700 70%);
  background: -o-linear-gradient(#a0f300, #6ea700 70%);
  background: linear-gradient(#a0f300, #6ea700 70%);
  -webkit-box-shadow: #beff41 0 1px 0 inset;
  -moz-box-shadow: #beff41 0 1px 0 inset;
  box-shadow: #beff41 0 1px 0 inset;
  border: 1px solid #5d8d00;
  color: white;
  text-shadow: #476c00 0 -1px 0;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_plus:hover {
  text-decoration: none;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_plus:hover {
  background-color: #5d8d00;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #90da00), color-stop(75%, #5d8d00));
  background: -webkit-linear-gradient(#90da00 3%, #5d8d00 75%);
  background: -moz-linear-gradient(#90da00 3%, #5d8d00 75%);
  background: -o-linear-gradient(#90da00 3%, #5d8d00 75%);
  background: linear-gradient(#90da00 3%, #5d8d00 75%);
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_plus:active {
  -webkit-box-shadow: #537e00 0 1px 2px inset;
  -moz-box-shadow: #537e00 0 1px 2px inset;
  box-shadow: #537e00 0 1px 2px inset;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button_plus.disabled, .button_plus[disabled] {
  opacity: 0.6;
  background: #6ea700;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.button_plus::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/*
 * main
 *
 */
/* line 217, ../sass/style.scss */
body {
  margin: 0 auto;
  width: 800px;
}

/* line 223, ../sass/style.scss */
#wrap {
  height: 100%;
}

/* line 230, ../sass/style.scss */
#head {
  width: 800px;
  background-color: #fff;
  margin-bottom: 10px;
  border-bottom: 3px #96c045 solid;
  overflow: hidden;
  *zoom: 1;
}
/* line 233, ../sass/style.scss */
#head header {
  float: left;
}
/* line 236, ../sass/style.scss */
#head nav {
  float: left;
  padding-top: 39px;
  padding-left: 39px;
}
/* line 240, ../sass/style.scss */
#head nav ul {
  list-style: none;
}
/* line 243, ../sass/style.scss */
#head nav ul li {
  float: left;
  margin-right: 18px;
}
/* line 248, ../sass/style.scss */
#head #login {
  float: right;
  text-align: right;
  padding-top: 4px;
}
/* line 252, ../sass/style.scss */
#head #login .login-notes {
  font-size: 10px;
}
/* line 256, ../sass/style.scss */
#head #menu {
  float: right;
  text-align: right;
  padding-top: 24px;
}
/* line 260, ../sass/style.scss */
#head #menu .icon {
  width: 50px;
  float: left;
  padding-top: 4px;
}
/* line 265, ../sass/style.scss */
#head #menu .name {
  width: 100px;
  float: left;
  padding-top: 10px;
}
/* line 270, ../sass/style.scss */
#head #menu .pulldown {
  width: 50px;
  float: left;
  padding: 6px;
  margin-top: 4px;
  text-align: center;
}

/* line 282, ../sass/style.scss */
#head_menu_list {
  display: none;
  float: left;
  margin: 29px 55px 0;
  position: absolute;
  z-index: 900;
  font-size: 12px;
}
/* line 289, ../sass/style.scss */
#head_menu_list ul {
  padding: 4px;
  background: #fff;
  border: 3px #96c045 solid;
  list-style: none;
}
/* line 294, ../sass/style.scss */
#head_menu_list ul li {
  padding: 6px;
}
/* line 297, ../sass/style.scss */
#head_menu_list ul li:hover {
  color: #fff;
  background: #96c045;
}

/* line 303, ../sass/style.scss */
#mainview {
  overflow: hidden;
  *zoom: 1;
}
/* line 304, ../sass/style.scss */
#mainview .sbtn {
  float: right;
}
/* line 306, ../sass/style.scss */
#mainview .sbtn ul {
  list-style: none;
}
/* line 309, ../sass/style.scss */
#mainview .sbtn ul li {
  float: left;
  margin-right: 18px;
}

/* line 316, ../sass/style.scss */
#content {
  width: 800px;
  margin-bottom: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 319, ../sass/style.scss */
#content .left-content {
  float: left;
  width: 800px;
}
/* line 323, ../sass/style.scss */
#content .right-content {
  float: right;
  width: 224px;
}

/* line 329, ../sass/style.scss */
#foot {
  min-height: 20px;
  padding: 25px 20px;
  overflow: hidden;
  *zoom: 1;
}

/* line 336, ../sass/style.scss */
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 77%;
}

/* line 342, ../sass/style.scss */
#page-top a {
  background: #96c065;
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
  border-radius: 5px;
}

/* line 350, ../sass/style.scss */
#page-top a:hover {
  text-decoration: none;
  background: #96c045;
}

/*
 * room & ask list
 *
 */
/* line 359, ../sass/style.scss */
.chatroombox {
  width: 800px;
  background: #fff;
  border-bottom: 1px #96c045 solid;
}
/* line 364, ../sass/style.scss */
.chatroombox .room-inbox {
  overflow: hidden;
  *zoom: 1;
}
/* line 365, ../sass/style.scss */
.chatroombox .room-inbox .room-icon {
  float: left;
}
/* line 368, ../sass/style.scss */
.chatroombox .room-inbox .room-titlebox {
  float: left;
  width: 620px;
  padding: 10px 10px 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 372, ../sass/style.scss */
.chatroombox .room-inbox .room-titlebox .room-title {
  margin-bottom: 4px;
}
/* line 375, ../sass/style.scss */
.chatroombox .room-inbox .room-titlebox .cat-icon {
  float: left;
  background: #efefef;
  width: 50px;
  padding: 4px;
  margin: 0 4px 4px 4px;
  overflow: visible;
  text-align: center;
  color: #333;
  font-size: 10px;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 379, ../sass/style.scss */
.chatroombox .room-inbox .room-titlebox .room-username {
  font-size: smaller;
  margin-bottom: 4px;
}
/* line 383, ../sass/style.scss */
.chatroombox .room-inbox .room-titlebox .room-date {
  font-size: 10px;
}
/* line 388, ../sass/style.scss */
.chatroombox .room-inbox .room-button {
  float: right;
}
/* line 391, ../sass/style.scss */
.chatroombox .room-inbox .room-delete {
  float: right;
}
/* line 396, ../sass/style.scss */
.chatroombox .room-option {
  float: left;
}
/* line 399, ../sass/style.scss */
.chatroombox .room-option .room-member .room-member-open {
  float: left;
  font-size: 10px;
  text-align: center;
  padding-top: 6px;
  margin-right: 4px;
  width: 60px;
  height: 19px;
  color: #fff;
  background: #ff0000;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) -1px 1px 0, rgba(255, 255, 255, 0.1) -1px 1px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) -1px 1px 0, rgba(255, 255, 255, 0.1) -1px 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.05) -1px 1px 0, rgba(255, 255, 255, 0.1) -1px 1px 0 inset;
}
/* line 411, ../sass/style.scss */
.chatroombox .room-option .room-member .room-member-title {
  float: left;
  font-size: 10px;
  text-align: center;
  padding-top: 6px;
  width: 60px;
  height: 19px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) -1px 1px 0, rgba(255, 255, 255, 0.1) -1px 1px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) -1px 1px 0, rgba(255, 255, 255, 0.1) -1px 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.05) -1px 1px 0, rgba(255, 255, 255, 0.1) -1px 1px 0 inset;
}
/* line 421, ../sass/style.scss */
.chatroombox .room-option .room-member .room-member-icon img {
  padding-left: 4px;
}

/* line 428, ../sass/style.scss */
.room, .ask {
  padding: 20px 0;
}

/* line 431, ../sass/style.scss */
.room {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 432, ../sass/style.scss */
.room .room-inbox {
  overflow: hidden;
  *zoom: 1;
}
/* line 433, ../sass/style.scss */
.room .room-inbox .room-icon {
  float: left;
}
/* line 436, ../sass/style.scss */
.room .room-inbox .room-titlebox {
  float: left;
  width: 620px;
  padding: 10px 10px 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 440, ../sass/style.scss */
.room .room-inbox .room-titlebox .room-title {
  margin-bottom: 4px;
}
/* line 443, ../sass/style.scss */
.room .room-inbox .room-titlebox .cat-icon {
  float: left;
  background: #efefef;
  width: 50px;
  padding: 4px;
  margin: 0 4px 4px 4px;
  overflow: visible;
  text-align: center;
  color: #333;
  font-size: 10px;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 447, ../sass/style.scss */
.room .room-inbox .room-titlebox .room-username {
  font-size: smaller;
  margin-bottom: 4px;
}
/* line 453, ../sass/style.scss */
.room .room-inbox .room-button {
  float: right;
}

/* line 461, ../sass/style.scss */
.ask {
  padding: 10px;
  width: 700px;
  float: right;
  text-align: right;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) -1px 1px 2px inset, rgba(255, 255, 255, 0.7) -1px 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.06) -1px 1px 2px inset, rgba(255, 255, 255, 0.7) -1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.06) -1px 1px 2px inset, rgba(255, 255, 255, 0.7) -1px 1px 0;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
  *zoom: 1;
}
/* line 468, ../sass/style.scss */
.ask .ask-titlebox {
  float: left;
  width: 620px;
  padding: 15px;
}
/* line 472, ../sass/style.scss */
.ask .ask-titlebox .ask-username {
  font-size: smaller;
  padding-top: 10px;
}
/* line 477, ../sass/style.scss */
.ask .ask-icon {
  float: right;
}

/* line 482, ../sass/style.scss */
.ask:hover {
  background-color: #eee;
}

/* line 486, ../sass/style.scss */
.room-menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 487, ../sass/style.scss */
.room-menu ul {
  list-style: none;
}
/* line 490, ../sass/style.scss */
.room-menu ul li {
  width: 200px;
  padding: 10px;
  float: left;
}
/* line 495, ../sass/style.scss */
.room-menu ul li:hover {
  color: #fff;
  background: #96c045;
}
/* line 499, ../sass/style.scss */
.room-menu ul li.active {
  color: #fff;
  background: #96c045;
}

/*
 * message
 *
 */
/* line 510, ../sass/style.scss */
.message {
  padding: 20px;
  border-left: 1px #96c045 solid;
  border-right: 1px #96c045 solid;
  border-bottom: 1px #96c045 solid;
}
/* line 515, ../sass/style.scss */
.message .message-help-inbox {
  border-bottom: 3px #96c045 dotted;
  margin-bottom: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 518, ../sass/style.scss */
.message .message-help-inbox .help-icon {
  float: left;
}
/* line 521, ../sass/style.scss */
.message .message-help-inbox .help-titlebox {
  float: left;
  width: 680px;
  padding: 10px 10px 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 525, ../sass/style.scss */
.message .message-help-inbox .help-titlebox .help-title {
  font-size: 12px;
  word-wrap: break-word;
  margin-bottom: 4px;
}
/* line 530, ../sass/style.scss */
.message .message-help-inbox .help-titlebox img.help-img {
  max-width: 400px;
  padding: 10px;
}
/* line 534, ../sass/style.scss */
.message .message-help-inbox .help-titlebox .help-username {
  font-size: 10px;
  margin-bottom: 4px;
}
/* line 538, ../sass/style.scss */
.message .message-help-inbox .help-titlebox .help-date {
  font-size: 8px;
}
/* line 545, ../sass/style.scss */
.message .message-inbox {
  overflow: hidden;
  *zoom: 1;
}
/* line 547, ../sass/style.scss */
.message .message-inbox .message-owner-inbox {
  clear: both;
}
/* line 548, ../sass/style.scss */
.message .message-inbox .message-owner-inbox .owner-icon {
  float: left;
}
/* line 551, ../sass/style.scss */
.message .message-inbox .message-owner-inbox .owner-titlebox {
  float: left;
  width: 680px;
  padding: 10px 10px 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 555, ../sass/style.scss */
.message .message-inbox .message-owner-inbox .owner-titlebox .owner-title {
  font-size: 12px;
  word-wrap: break-word;
  margin-bottom: 4px;
}
/* line 560, ../sass/style.scss */
.message .message-inbox .message-owner-inbox .owner-titlebox img.owner-img {
  padding: 10px;
}
/* line 563, ../sass/style.scss */
.message .message-inbox .message-owner-inbox .owner-titlebox .owner-youtube {
  padding: 10px;
}
/* line 566, ../sass/style.scss */
.message .message-inbox .message-owner-inbox .owner-titlebox .owner-username {
  font-size: 10px;
  margin-bottom: 4px;
}
/* line 570, ../sass/style.scss */
.message .message-inbox .message-owner-inbox .owner-titlebox .owner-date {
  font-size: 8px;
}
/* line 577, ../sass/style.scss */
.message .message-inbox .message-member-inbox {
  float: right;
  text-align: right;
  clear: both;
}
/* line 580, ../sass/style.scss */
.message .message-inbox .message-member-inbox .member-icon {
  float: right;
}
/* line 583, ../sass/style.scss */
.message .message-inbox .message-member-inbox .member-titlebox {
  float: left;
  width: 680px;
  padding: 10px 10px 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 587, ../sass/style.scss */
.message .message-inbox .message-member-inbox .member-titlebox .member-title {
  font-size: 12px;
  margin-bottom: 4px;
}
/* line 591, ../sass/style.scss */
.message .message-inbox .message-member-inbox .member-titlebox img.member-img {
  padding: 10px;
}
/* line 594, ../sass/style.scss */
.message .message-inbox .message-member-inbox .member-titlebox .member-youtube {
  padding: 10px;
}
/* line 597, ../sass/style.scss */
.message .message-inbox .message-member-inbox .member-titlebox .member-username {
  font-size: 10px;
  margin-bottom: 4px;
}
/* line 601, ../sass/style.scss */
.message .message-inbox .message-member-inbox .member-titlebox .member-date {
  font-size: 8px;
}
/* line 609, ../sass/style.scss */
.message .message-add-inbox {
  background-color: #96c045;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFACCD6B', endColorstr='#FF96C045');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #accd6b), color-stop(100%, #96c045));
  background-image: -webkit-linear-gradient(#accd6b 0%, #96c045 100%);
  background-image: -moz-linear-gradient(#accd6b 0%, #96c045 100%);
  background-image: -o-linear-gradient(#accd6b 0%, #96c045 100%);
  background-image: linear-gradient(#accd6b 0%, #96c045 100%);
  border-top: 3px #96c045 solid;
  padding: 15px;
  overflow: hidden;
  *zoom: 1;
}
/* line 613, ../sass/style.scss */
.message .message-add-inbox .add-icon {
  float: left;
}
/* line 616, ../sass/style.scss */
.message .message-add-inbox .add-titlebox {
  float: left;
  width: 550px;
  padding: 10px 10px 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 620, ../sass/style.scss */
.message .message-add-inbox .add-titlebox textarea {
  width: 550px;
  font-size: 12px;
}

/*
 * mypage profile
 *
 */
/* line 637, ../sass/style.scss */
.profile {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 638, ../sass/style.scss */
.profile .profile-inbox {
  overflow: hidden;
  *zoom: 1;
}
/* line 639, ../sass/style.scss */
.profile .profile-inbox .profile-icon {
  float: left;
  margin-right: 10px;
}
/* line 643, ../sass/style.scss */
.profile .profile-inbox .profile-username {
  font-size: 16px;
  padding-top: 36px;
}
/* line 649, ../sass/style.scss */
.profile .profile-option {
  padding: 20px;
  font-size: 12px;
  overflow: hidden;
  *zoom: 1;
}

/* line 657, ../sass/style.scss */
.mypage-menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 658, ../sass/style.scss */
.mypage-menu ul {
  list-style: none;
}
/* line 661, ../sass/style.scss */
.mypage-menu ul li {
  width: 33%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  float: left;
}
/* line 668, ../sass/style.scss */
.mypage-menu ul li:hover {
  color: #fff;
  background: #96c045;
}
/* line 672, ../sass/style.scss */
.mypage-menu ul li.active {
  color: #fff;
  background: #96c045;
}

/*
 * terms
 *
 */
/* line 685, ../sass/style.scss */
.terms h1 {
  font-size: 24px;
  padding: 20px;
}
/* line 689, ../sass/style.scss */
.terms p {
  padding: 20px;
  line-height: 24px;
}

/*
 * cboard
 *
 */
/* line 699, ../sass/style.scss */
.cboard {
  margin-top: 20px;
  padding: 4px;
  background-color: #eee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 704, ../sass/style.scss */
.cboard .cboard-titlebox {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 705, ../sass/style.scss */
.cboard .cboard-titlebox .cboard-icon {
  float: left;
  background: #6ea700;
  width: 25px;
  padding: 4px;
  margin: 4px;
  overflow: visible;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 718, ../sass/style.scss */
.cboard .cboard-titlebox .cboard-title {
  padding-top: 10px;
}
/* line 725, ../sass/style.scss */
.cboard .cboard-entry ul {
  list-style: none;
}
/* line 728, ../sass/style.scss */
.cboard .cboard-entry li {
  padding: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 730, ../sass/style.scss */
.cboard .cboard-entry li .cboard-entry-title {
  padding-top: 10px;
}
/* line 733, ../sass/style.scss */
.cboard .cboard-entry li .cboard-entry-userbox {
  float: right;
}
/* line 735, ../sass/style.scss */
.cboard .cboard-entry li .cboard-entry-userbox .cboard-entry-username {
  float: left;
  padding-top: 6px;
  padding-right: 6px;
  font-size: smaller;
}
/* line 741, ../sass/style.scss */
.cboard .cboard-entry li .cboard-entry-userbox .cboard-entry-icon {
  float: left;
}
